<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Mongoose Flights</title>
</head>
<body>
  <h1>Flight List</h1>
  <table class="table">
        <tr>
            <th scope="col">Airline</th>
            <th scope="col">Airport</th>
            <th scope="col">Flight No.</th>
            <th scope="col">Departure Date</th>
            <th scope="col"></th>
          </tr>
    <tobdy>
        <% flights.forEach(function(t){ %>
        <tr>
            <td><%= t.airline %></td>
            <td><%= t.airport %></td>
            <td><%= t.flightNo %></td>
            <td><%= t.departs %></td>
            <td><a href="/flights/<%= t.id %>">Details</a></td>
        </tr>
        <% }) %>
    </tobdy>
</table>
</body>
</html>